.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  background-color: #ccd1cf;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: #222222 1px 1px 20px 1px;
  border: 2px solid #ccd1cf;
  cursor: pointer;

  transition: all 2000ms ease;
  &:hover {
    border: 2px solid gold;
    box-shadow: #e5e5e5 1px 1px 20px 1px;
  }
}
.cart-text {
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to bottom, #bb0b40, #194c33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
